#
Library
#Library/cache
#Library/metadata
#Library/previews
Temp
Assembly-CSharp-Editor.pidb
Assembly-CSharp-firstpass-vs.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
Assembly-UnityScript-vs.unityproj
Assembly-UnityScript.unityproj
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass.pidb
Assembly-CSharp.pidb
Assembly-UnityScript.pidb
.mayaSwatches

.DS_Store
