#
Library
#Library/cache
#Library/metadata
#Library/previews
Temp
Assembly-CSharp-Editor.pidb
Assembly-CSharp-firstpass-vs.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
Assembly-UnityScript-vs.unityproj
Assembly-UnityScript.unityproj
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass.pidb
Assembly-CSharp.pidb
Assembly-UnityScript.pidb
.mayaSwatches

.DS_Store
Assets/Meshes/OBJ_HARRY_billab_01_A.fbm/OBJ_HARRY_billab_canoes_01_A.png
Assets/Meshes/OBJ_HARRY_billab_01_A.fbm/OBJ_HARRY_billab_canoes_01_A.png.meta
Assets/Meshes/OBJ_HARRY_billab_01_A.fbm/OBJ_HARRY_billab_foreisland_01_A.png
Assets/Meshes/OBJ_HARRY_billab_01_A.fbm/OBJ_HARRY_billab_foreisland_01_A.png.meta
Assets/Meshes/OBJ_HARRY_billab_01_A.fbm/OBJ_HARRY_billab_house_01_A.png
Assets/Meshes/OBJ_HARRY_billab_01_A.fbm/OBJ_HARRY_billab_house_01_A.png.meta
Assets/Meshes/OBJ_HARRY_billab_01_A.fbm/OBJ_HARRY_billab_land_01_A.png
Assets/Meshes/OBJ_HARRY_billab_01_A.fbm/OBJ_HARRY_billab_land_01_A.png.meta
Assets/Meshes/OBJ_HARRY_billab_01_A.fbm/OBJ_HARRY_billab_mounts_01_A.bmp
Assets/Meshes/OBJ_HARRY_billab_01_A.fbm/OBJ_HARRY_billab_mounts_01_A.bmp.meta
Assets/Meshes/OBJ_HARRY_billab_01_A.fbm/OBJ_HARRY_billab_water_01_A.bmp
Assets/Meshes/OBJ_HARRY_billab_01_A.fbm/OBJ_HARRY_billab_water_01_A.bmp.meta
Assets/Meshes/OBJ_HARRY_billab_01_A.fbm.meta
Assets/Meshes/OBJ_HARRY_gimbal_01_A.fbm.meta
